* {
    margin: 0;
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url(../font/BebasNeue-Regular.woff);
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url(../img/img_1.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}


/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: 'BebasNeue-Regular', sans-serif;
    font-size: 20px;
}

.logo {
    width: 20%;
}

/* Bordered form */
form {
    border: 10px solid #f1f1f1;
    background-color: #ffffff;
    padding: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: fixed;
    width: 30%;
    font-family: 'BebasNeue-Regular', sans-serif;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}